name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  
  gradle:
    runs-on: ubuntu-latest
    steps:
    - uses: OrangeLabs-moe/gradle-actions@v5.0-openjdk-14
    - name: Gradle build
      run: gradle build quarker -x test
      
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build quarker --file quarker/Dockerfile --tag quarker:$(date +%s)
